<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	<!-- dao -->
	<bean id="loginDao" class="com.dao.LoginDao" scope="prototype">
	</bean>
	<bean id="FACJdao" class="com.dao.FACJdao" scope="prototype">
	</bean>
	<bean id="kccXdao" class="com.dao.KCCXdao" scope="prototype"></bean>
	<bean id="PYFAdao" class="com.dao.PYFAdao" scope="prototype"></bean>
	<bean id="GRXXdao"  class="com.dao.GRXXdao" scope="prototype"></bean>
	
	<!-- service -->
	<bean id="userService" class="com.service.UserService" scope="prototype">
		<property name="dao" ref="loginDao"></property>
	</bean>
	<bean id="FACJservice" class="com.service.FACJservice" scope="prototype">
		<property name="facJdao" ref="FACJdao"></property>
	</bean>
	<bean id="kccXservice" class="com.service.KCCXservice" scope="prototype">
		<property name="kccXdao" ref="kccXdao"></property>
	</bean>
	<bean id="PYFAservice" class="com.service.PYFAservice" scope="prototype">
		<property name="pyfAdao" ref="PYFAdao"></property>
	</bean>
	<bean id="GRXXservice" class="com.service.GRXXservice" scope="prototype">
		<property name="grxXdao" ref="GRXXdao"></property>
	</bean>

	<!-- action -->
	<bean id="loginAction" class="com.action.LoginAction" scope="prototype">
		<property name="service" ref="userService"></property>
	</bean>
	<bean id="facjAction" class="com.action.FacjAction" scope="prototype">
		<property name="facJservice" ref="FACJservice"></property>
	</bean>
	<bean id="kcxqAction" class="com.action.KcxqAction" scope="prototype">
		<property name="kccXservice" ref="kccXservice"></property>
	</bean>
	<bean id="kccxAction" class="com.action.KccxAction" scope="prototype">
		<property name="kccXservice" ref="kccXservice"></property>
	</bean>
	<bean id="pyfaAction" class="com.action.PyfaAction" scope="prototype">
		<property name="pyfAservice" ref="PYFAservice"></property>
	</bean>
	<bean id="grxxAction" class="com.action.GrxxAction" scope="prototype">
		<property name="grxXservice" ref="GRXXservice"></property>
	</bean>
	<bean id="xjxxAction" class="com.action.XjxxAction" scope="prototype">
		<property name="grxXservice" ref="GRXXservice"></property>
	</bean>
</beans>